In [5]:
from tradingstrategy.timebucket import TimeBucket
from tradingstrategy.binance.downloader import BinanceDownloader
import datetime

downloader = BinanceDownloader()
df = downloader.fetch_candlestick_data(
    ["BTCUSDT"],
    TimeBucket.m15,
    datetime.datetime(2024, 1, 1),
    datetime.datetime(2025, 3, 1),
    )

# Show a candle for both BTC and ETH
# assert df.iloc[0].to_json() == '{"open":7195.24,"high":7255.0,"low":7175.15,"close":7200.85,"volume":16792.388165,"pair_id":"BTCUSDT"}'
# assert df.iloc[-1].to_json() == '{"open":2281.87,"high":2352.37,"low":2265.24,"close":2352.04,"volume":216702.6914,"pair_id":"ETHUSDT"}'

Downloading candlestick data for BTCUSDT:   0%|          | 0/41 [00:00<?, ?iteration/s]

In [6]:
df.head(3)

,open,high,low,close,volume,pair_id
2024-01-01 00:00:00,42283.58,42488.09,42261.02,42488.00,431.71082,BTCUSDT
2024-01-01 00:15:00,42488.00,42554.57,42412.02,42419.73,392.24889,BTCUSDT
2024-01-01 00:30:00,42419.73,42447.82,42354.19,42441.32,319.90644,BTCUSDT

In [7]:
df.tail(3)

,open,high,low,close,volume,pair_id
2025-02-28 23:30:00,84164.56,84431.05,84132.07,84400.01,127.49439,BTCUSDT
2025-02-28 23:45:00,84400.01,84548.43,84343.82,84349.94,256.84448,BTCUSDT
2025-03-01 00:00:00,84349.95,84536.52,84257.15,84536.52,100.10315,BTCUSDT

In [8]:
df.to_csv("btc-15min-barchart-20240101-20250301.csv")